body {
  background-color: #F2F2F2;
  /* background-color: #F8EAEA; */
}




.navbar-brand {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.bg-merah {
    background-color: #8B0000;
}
.navbar-nav .nav-link:hover {
    background-color: rgba(255, 215, 0, 0.2);
    color: #FFD700;
}
.nav-link {
    color: #8B0000;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menu-card {
    max-width: 250px;
    margin: auto;
}
.menu-card .card-header, .menu-card .card-footer {
    background-color: #8B0000;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menu-img {
    width: 100%;
    height: 100%;
}
.card-footer button {
    min-width: 90px;
}

.footer {
  background-color: #8B0000;
  color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer p{
    color: white;
}
.footer link {
    color: white;
}
.footer-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.footer-text {
  font-size: 14px;
  line-height: 1.6;
  color: #ffffff;
  font-weight: bold;
}
.footer-list {
  list-style: none;
  padding: 0;
}
.footer-list li {
  margin-bottom: 8px;
}
.footer-list a {
  text-decoration: none;
  color: #ffffff;
}
.footer-list a:hover {
  text-decoration: underline;
  color: #8B0000;
}
.footer-contact {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.footer-social a {
  font-size: 22px;
  margin-right: 15px;
  color:#ffffff;
  transition: 0.2s;
}
.footer-social a:hover {
  color: #8B0000;
  transform: scale(1.1);
}
.footer-bottom {
  background-color: #8B0000;
  font-size: 13px;
  color: white;
}
/* .footer .container-fluid {
  background-color: #8B0000;

} */

